{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}
{% block header %}
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <img src="http://localhost:8888/symfony/boncoin/assets/img/affaire.png" style="width: 110px;">
  
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href=" {{ path('advert_list')}}">Retour vers page d'accueil</a>
        </li>

      </ul>
    </div>
  </nav>
{% endblock %}
{% block body %}
  <div class="container">
    <div class="form">
      <div class="row d-flex justify-content-center">
        <div class="col-md-4">
          <form method="post">
            {% if error %}
              {{ dump(error) }}
              <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}

            {% if app.user %}{% endif %}

            <h1 class="h3 mb-3 font-weight-normal">Connectez-vous</h1>
            <label for="inputEmail">Email</label>
            <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" required="required" autofocus="autofocus">
            <label for="inputPassword">Password</label>
            <input type="password" name="password" id="inputPassword" class="form-control" required="required">

            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

            {#
        Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
        See https://symfony.com/doc/current/security/remember_me.html

        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" name="_remember_me"> Remember me
            </label>
        </div>
    #}

            <button class="btn btn-lg" type="submit">
              Connexion
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
