{% extends "base.html.twig" %}
{% block header %}
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <img src="http://localhost:8888/symfony/boncoin/assets/img/affaire.png" style="width: 110px;">
 
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href=" {{ path('advert_list')}}">Retour vers page d'accueil</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href=" {{ path('admin')}}">Gerer les annonces</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href=" {{ path('admin_logout')}}">Se déconnecter</a>
        </li>

      </ul>
    </div>
  </nav>
{% endblock %}
{% block body %}

  <form>
    <div class="container">
      <div class="card-deck">

        <div class="row">
          {% for user in users %}
            <div class="col-lg-4 col-md-6 col-sm-12">

              <div class="card">

                <div class="card-body">
                  <p class="card-text">Email du user :
                    {{ user.email }}
                  </p>

                </div>
              </div>
            </div>
            <a href=" {{ path('user_delete', {'id':user.id})}}">Supprimer ce User</a>
          {% endfor %}
          {{ knp_pagination_render(users) }}
        </div>

      </div>
    </div>
  </form>
{% endblock %}