    @import '~bootstrap/scss/bootstrap';
    @import 'libs/bootstrap';
    //@import 'libs/fontawesome';
    @import 'footer';
    @import "~@selektor/selektor/selektor.css";
    * {
        font-family: Lora;
    }
    
    .card {
        padding-bottom: 40px;
        margin-bottom: 20px;
        box-shadow: 1px 1px 5px gray;
        .card-deck {
            padding: 20px;
            margin-bottom: 20px;
        }
    }
    
    .card-body {
        height: 380px;
    }
    
    .card-img-top:first-child:hover {
        opacity: 0.5;
    }
    
    h1 {
        text-align: center;
    }
    
    #advert input {
        margin: 20px;
        background-color: white;
        opacity: 0.5;
        width: 85%;
        label {
            text-transform: uppercase;
            font-weight: bold;
            display: flex;
            justify-content: center;
        }
    }
    
    .form input {
        margin: 20px;
        background-color: white;
        opacity: 0.5;
        width: 85%;
    }
    
    #produits {
        color: gray;
        text-align: center;
        padding-top: 30px;
        h2::after {
            content: '';
            display: block;
            width: 140px;
            height: 1px;
            background-color: gray;
            margin: auto;
        }
    }
    
    #produits img {
        padding: 20px;
        margin-top: 30px;
        margin-bottom: 30px;
        box-shadow: 1px 1px 5px gray;
    }
    
    form p {
        text-transform: uppercase;
        font-weight: bold;
        display: flex;
        justify-content: center;
    }
    
    #letter {
        border: solid white;
        margin: 4px;
        box-shadow: 20px 38px 34px -26px hsla(0, 0%, 0%, .2);
        border-radius: 255px 20px 225px 20px/15px 225px 15px 255px;
        margin-bottom: 30px;
        .submit input {
            align-self: center;
            background-color: transparent;
            padding: 0.5rem 0.5rem;
            margin: 0 1rem;
            transition: all .5s ease;
            width: 150px;
            color: gray;
            letter-spacing: 1px;
            margin-top: 10px;
            outline: none;
            box-shadow: 20px 38px 34px -26px hsla(0, 0%, 0%, .2);
            border-radius: 255px 20px 225px 20px/15px 225px 15px 255px;
        }
        .submit input:hover {
            background-color: gray;
            color: white;
        }
         ::placeholder {
            color: gray;
            text-align: left;
        }
        textarea {
            align-self: center;
            background: transparent;
            padding: 0.5rem 0.5rem;
            margin: 0 1rem;
            transition: all .5s ease;
            color: #3eafdb;
            letter-spacing: 1px;
            outline: none;
            box-shadow: 20px 38px 34px -26px hsla(0, 0%, 0%, .2);
            border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
        }
    }
    
    .pagination {
        display: flex;
        justify-content: center;
        padding: 20px;
        span {
            color: gray;
        }
        a {
            color: gray;
            text-decoration: none;
            padding: 5px;
        }
    }
    
    nav {
        padding-left: 20px;
        box-shadow: 1px 1px 5px gray;
        a {
            text-transform: uppercase;
        }
    }
    
    .bg-light {
        background-color: white !important;
        margin-bottom: 40px;
    }
    
    #navbarNav {
        display: flex;
        justify-content: right;
    }
    
    .rounded-3 {
        background-image: url(http://localhost:8888/symfony/boncoin/assets/img/pexels-photo-1648768.jpeg);
        box-shadow: 1px 1px 5px gray;
        a {
            background-color: white;
            opacity: 0.5;
        }
    }
    
    .form {
        background-image: url(http://localhost:8888/symfony/boncoin/assets/img/pexels-photo-1648768.jpeg);
        padding: 50px;
        margin-top: 50px;
        margin-bottom: 80px;
        box-shadow: 1px 1px 5px gray;
        select {
            margin: 20px;
            background-color: white;
            opacity: 0.5;
            width: 85%;
        }
        label {
            text-transform: uppercase;
            font-weight: bold;
            display: flex;
            justify-content: center;
        }
        button {
            background-color: gray;
            color: white;
            margin-left: 120px;
            width: 150px;
            margin-top: 20px;
            border-style: none;
            border-radius: 10px;
            opacity: 0.8;
        }
        button:hover {
            background-color: white;
            color: gray;
        }
    }
    
    .card a {
        text-decoration: none;
        color: gray;
    }
    
    .in-touch {
        display: flex;
        justify-content: space-between;
        #tel,
        #mail,
        #nom {
            align-self: center;
            background: transparent;
            padding: 0.5rem 0.5rem;
            margin: 0 1rem;
            transition: all .5s ease;
            color: #41403E;
            letter-spacing: 1px;
            outline: none;
            box-shadow: 20px 38px 34px -26px hsla(0, 0%, 0%, .2);
            border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
        }
    }
    
    textarea {
        align-self: center;
        background: transparent;
        padding: 0.5rem 0.5rem;
        margin: 0 1rem;
        transition: all .5s ease;
        color: #41403E;
        letter-spacing: 1px;
        outline: none;
        box-shadow: 20px 38px 34px -26px hsla(0, 0%, 0%, .2);
        border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
    }
    
    @media (max-width: 768px) {
        .in-touch {
            display: block;
            #tel {
                display: none;
            }
            #mail,
            #nom {
                width: 50%;
            }
        }
    }
    
    @media (max-width: 994px) {
        .in-touch {
            display: block;
            #tel {
                display: none;
            }
        }
    }
    
    figcaption {
        color: gray;
        font-family: Benne;
        font: italic;
        text-align: center;
    }
    
    .selektor .selektor-zone {
        margin: 20px;
        height: 100px;
        background-color: white;
        opacity: 0.5;
        width: 85%;
    }