<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>
      {% block title %}Affaires Personnelles{% endblock %}
    </title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css" integrity="sha384-KA6wR/X5RY4zFAHpv/CnoG2UW1uogYfdnP67Uv7eULvTveboZJg0qUpmJZb5VqzN" crossorigin="anonymous">
   <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans|Lora">
    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ asset('build/styles.css') }}"/>
   <link href="node_modules/@selektor/selektor/selektor.css" rel="stylesheet" type="text/css">
    {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
    {% block stylesheets %}
      {#{{ encore_entry_link_tags('styles') }}
      {#<link rel="stylesheet"  href="../assets/styles/app.scss" />#}

    {% endblock %}

  </head>
  <body>
    {% block header %}{% endblock %}
    {% for message in app.flashes('success') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
    {% endfor %}
    {% block body %}
    <main>
{% block content %}{% endblock content %}

 
    </main>
    {% endblock %}

    <div class="container">
  <div id="letter" style='padding:20px;max-width:1300px;'>
   <form name="contact" method="post" action="https://emails-static.drosalys.net/submit/contact/8789ff3d-b666-42b6-9401-fcc5f619e253" novalidate="novalidate" data-drosalys-remote-submit="data-drosalys-remote-submit" style="background: white url('http://localhost:8888/symfony/boncoin/assets/img/contact-form.png') repeat-x scroll 0% 0%;">

      <br>
       <div class="alert alert-success d-none" data-message-success="d-none">
        Message envoyé avec succès !
      </div>

      <div class="alert alert-danger d-none" data-message-error="d-none">
        Erreur, vérifier le formulaire.
      </div>

      <div class="alert alert-warning d-none" data-message-timeout="d-none">
        Impossible d'envoyer le message. Veuillez réessayer dans quelques minutes.
      </div>
      <div class="in-touch">
        <input type="text" id="nom" placeholder="Nom prénom" name="contact[name]" class="form-control" value=""/>
        <span class="invalid-feedback d-block" data-error-for="contact[name]" data-error-template="<span class=&quot;d-block&quot; data-error-msg-container=&quot;&quot;><span class=&quot;form-error-icon badge bg-danger text-uppercase&quot;>Erreur</span><span class=&quot;form-error-message&quot; data-error-msg=&quot;&quot;>&amp;nbsp;</span></span>" data-children-count="0"></span>
        <input type="text" id="mail" placeholder="Email" name="contact[email]" class="form-control" value=""/>
        <span class="invalid-feedback d-block" data-error-for="contact[email]" data-error-template="<span class=&quot;d-block&quot; data-error-msg-container=&quot;&quot;><span class=&quot;form-error-icon badge bg-danger text-uppercase&quot;>Erreur</span><span class=&quot;form-error-message&quot; data-error-msg=&quot;&quot;>&amp;nbsp;</span></span>" data-children-count="0"></span>
        <input type="text" id="tel" placeholder="Sujet" name="contact[object]" class="form-control" value=""/>
        <span class="invalid-feedback d-block" data-error-for="contact[object]" data-error-template="<span class=&quot;d-block&quot; data-error-msg-container=&quot;&quot;><span class=&quot;form-error-icon badge bg-danger text-uppercase&quot;>Erreur</span><span class=&quot;form-error-message&quot; data-error-msg=&quot;&quot;>&amp;nbsp;</span></span>" data-children-count="0"></span>
      </div>
      <br>
       <textarea id="message" placeholder="Message" rows="8" style='width:100%' name="contact[message]" class="form-control"></textarea>
              <span class="invalid-feedback d-block" data-error-for="contact[message]" data-error-template="<span class=&quot;d-block&quot; data-error-msg-container=&quot;&quot;><span class=&quot;form-error-icon badge bg-danger text-uppercase&quot;>Erreur</span><span class=&quot;form-error-message&quot; data-error-msg=&quot;&quot;>&amp;nbsp;</span></span>" data-children-count="0"></span>
      <br>

      <div class="submit"><input type="submit" value="Envoyer"></div>

    </form>
  </div>
</div>


    <div class="footer-basic">
      <footer>
        <div class="social">
          <a href="#">
            <i class="fab fa-instagram"></i>
          </a>
          <a href="#">
            <i class="far fa-envelope"></i>
          </a>
          <a href="#">
            <i class="fab fa-snapchat-ghost"></i>
          </a>
          <a href="#">
            <i class="fab fa-twitter"></i>
          </a>
          <a href="#">
            <i class="fab fa-facebook-f"></i>
          </a>
        </div>

        <p class="copyright">Affaires Personnelles © 2021</p>
      </footer>
    </div>

    {% block javascripts %}
      {{ encore_entry_script_tags('scripts') }}
    {% endblock %}
    <script src="https://emails-static.drosalys.net/scripts/contact.js"></script>
  </body>
 <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
</html>
