{% extends "base.html.twig" %}
{% block header %}
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <img src="http://localhost:8888/symfony/boncoin/assets/img/affaire.png" style="width: 110px;">

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href=" {{ path('app_login')}}">Se connecter
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href=" {{ path('user_add')}}">S'inscrire</a>
        </li>

      </ul>
    </div>
  </nav>

{% endblock %}

{% block body %}


  <div class="container-fluid py-5">
    <div class="p-5 mb-4 bg-light rounded-3">
      <h1 class="display-5 fw-bold d-flex justify-content-center">Toutes nos annonces</h1>
      <center>
        <p class="col-md-8 fs-4 ">Peu importe ce que vous cherchez, ici vous trouverez !</p>
      </center>
      <a class="btn  btn-lg  d-flex justify-content-center" href=" {{ path('search_adverts')}}" role="button">Recherche Avancée</a>
    </div>
  </div>

  <form>
    <div class="container">
      <div class="card-deck">

        <div class="row">
          {% for advert in adverts %}
            <div class="col-lg-4 col-md-6 col-sm-12">

              <div class="card">

                <img class="card-img-top" style="height: 280px;" src="http://localhost:8888/symfony/boncoin/assets/img/{{advert.picture}}" alt="card ">

                <div class="card-body">
                  <p class="card-text">Catégorie de l'annonce :
                    {{ advert.category.name }}
                  </p>
                  <p class="card-text">Titre de l'annonce :
                    {{ advert.title }}
                  </p>

                  <small class="text-muted">Ajouté le :
                    {{ advert.createdAt|date('Y-m-d') }}
                  </small><br>
                  <small class="text-muted">Description :
                    {{ advert.description }}
                  </small><br>
                  <small class="text-muted">Prix :
                    {{ advert.price }}
                    Euros</small><br>
                  <small class="text-muted">Région :
                    {{ advert.region.name}}
                  </small>
                  <h2>Me contacter</h2>
                  <small class="text-muted">Téléphone:
                    {{ advert.phone }}</small><br>
                  <small class="text-muted">Email :
                    <a href="mailto:{{ advert.Email }}">{{ advert.Email }}</a>
                  </small>
                </div>
              </div>
            </div>

          {% endfor %}
          {{ knp_pagination_render(adverts) }}
        </div>

      </div>
    </div>
  </form>
  <section id="produits">
    <div class="container">
      <h2>Nos derniers produits</h2>
      <!-- Use Bootstrap Carousel without indicators -->
      <div class="carousel slide" data-ride="carousel" id="presentation-carousel" data-interval="3000">
        <div class="carousel-inner">
          <div class="carousel-item active">

            <figure>
              <img src="{{ asset('http://localhost:8888/symfony/boncoin/assets/img/pexels-photo-276517.jpeg')}}" style="height: 280px;" alt="" class="img-fluid">
              <figcaption>Vélo Rockrider</figcaption>
            </figure>
          </div>
          <div class="carousel-item">
            <figure>
              <img src="{{ asset('http://localhost:8888/symfony/boncoin/assets/img/pexels-photo-3757055.jpeg')}}" style="height: 280px;" alt="" class="img-fluid">
              <figcaption>Canapé chateau d'ax</figcaption>
            </figure>

          </div>
          <div class="carousel-item">
            <figure>
              <img src="{{ asset('http://localhost:8888/symfony/boncoin/assets/img/pexels-photo-1323201.jpeg')}}" style="height: 280px;" alt="" class="img-fluid">

              <figcaption>Casque converse</figcaption>
            </figure>

          </div>

          <div class="carousel-item">
            <figure>
              <img src="{{('http://localhost:8888/symfony/boncoin/assets/img/macbook-apple-imac-computer-39284.jpeg')}}" style="height: 280px;" alt="" class="img-fluid">
              <figcaption>MacBook Pro i7</figcaption>
            </figure>

          </div>

        </div>

      </div>

    </div>

  </section>
{% endblock %}