{% extends "base.html.twig" %}
{% block header %}
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <img src="http://localhost:8888/symfony/boncoin/assets/img/affaire.png" style="width: 110px;">
   
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href=" {{ path('advert_list')}}">Retour vers page d'accueil</a>
        </li>

      </ul>
    </div>
  </nav>

{% endblock %}
{% block title %}Recherche {% endblock %}
{% block body %}

  <div class="container">
   
  <div class="form">
    <div class="row d-flex justify-content-center">
      <div class="col-md-4">
          <div id="sel">
        {{ form_start(search_form) }}
 
        {{ form_widget(search_form) }}
             </div>
        <button type="submit">Recherche</button>
        {{ form_end(search_form) }}
     
      </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="card-deck">

      <div class="row">
        {% for advert in adverts %}
          <div class="col-md-4 col-sm-12">

            <div class="card" style="width=21rem;">

              <img class="card-img-top" style="height: 280px;" src="http://localhost:8888/symfony/boncoin/assets/img/{{advert.picture}}" alt="card ">
              <div class="card-body">
                <p class="card-text">Catégorie de l'annonce :
                  {{ advert.category.name }}
                </p>
                <p class="card-text">Titre de l'annonce :
                  {{ advert.title }}
                </p>
                    <p class="card-text">Description :
                    {{ advert.description }}
                  </p>
                <small class="text-muted">Ajouté le :
                  {{ advert.createdAt|date('Y-m-d') }}
                </small><br>

                <small class="text-muted">Prix :
                  {{ advert.price }}
                  Euros</small><br>
                <small class="text-muted">Région :
                  {{ advert.region.name}}
                </small>
                <h2>Me contacter</h2>
                <small class="text-muted">Téléphone:
                  {{ advert.phone }}</small><br>
                <small class="text-muted">Email :
                  {{ advert.Email }}
                </small>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>

    </div>
  </div>

{% endblock %}
