{% extends "base.html.twig" %}
{% block header %}
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <img src="http://localhost:8888/symfony/boncoin/assets/img/affaire.png" style="width: 110px;">

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">

          {% if is_granted('ROLE_ADMIN') %}

          <li >
            <a class="nav-link" href=" {{ path('advert_list')}}">Retour vers page d'accueil</span></a>
        </li>
        <li class="nav-item">

          <a class="nav-link" href=" {{ path('user_logout')}}">Se déconnecter</a>

        </li>
      {% else %}
        <li class="nav-item">
          <a class="nav-link" href=" {{ path('advert_list')}}">Retour vers page d'accueil</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href=" {{ path('advert_add')}}">Ajouter une annonce</span></a>
    </li>
    <li class="nav-item">

      <a class="nav-link" href=" {{ path('user_logout')}}">Se déconnecter</a>

    </li>

  {% endif %}
</ul>
</div>
</nav>
{% endblock %}
{% block body %}
{% if is_granted('ROLE_ADMIN') %}
<div class="container">
<div class="form">
  <div class="row d-flex justify-content-center">
    <div class="col-md-12">
      <a class="btn  btn-lg  d-flex justify-content-center" href=" {{ path('admin_users')}}" role="button">Gerer les users</span></a>
  </div>
  <div class="col-md-12">
    <a class="btn  btn-lg  d-flex justify-content-center" href=" {{ path('admin')}}" role="button">Gerer les annonces</a>
  </div>
</div>
</div>
</div>
{% endif %}
<form>
<div class="container">
<div class="card-deck">

<div class="row">
  {% for advert in adverts %}
    <div class="col-lg-4 col-md-6 col-sm-12">

      <div class="card">

        <img class="card-img-top" style="height: 280px;" src="http://localhost:8888/symfony/boncoin/assets/img/{{advert.picture}}" alt="card ">
        <div class="card-body">
          <p class="card-text">Catégorie de l'annonce :
            {{ advert.category.name }}
          </p>
          <p class="card-text">Titre de l'annonce :
            {{ advert.title }}
          </p>
          <small class="text-muted">Ajouté le :
            {{ advert.createdAt|date('Y-m-d') }}
          </small><br>

          <small class="text-muted">Prix :
            {{ advert.price }}
            Euros</small><br>
          <small class="text-muted">Région :
            {{ advert.region.name}}
          </small>
          <hr>
          <a href=" {{ path('advert_delete', {'id':advert.id})}}">Supprimer cette l'annonce 🙈</a><br>
          <a href=" {{ path('advert_show', {'id':advert.id})}}">Mise à jour de l'annonce 🙉</a>
        </div>
      </div>
    </div>

  {% endfor %}

</div>

</div>
</div>
</form>
{% endblock %}