{% extends "base.html.twig" %}
{% block header %}
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <img src="http://localhost:8888/symfony/boncoin/assets/img/affaire.png" style="width: 110px;">
 
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href=" {{ path('advert_list')}}">Retour vers page d'accueil</a>
        </li>
        <li class="nav-item">

          <a class="nav-link" href="{{path('gestion')}}">Gérer mes annonces</a>

        </li>
        <li class="nav-item">

          <a class="nav-link" href=" {{ path('user_logout')}}">Se déconnecter</a>

        </li>

      </ul>
    </div>
  </nav>

{% endblock %}

{% block body %}
<div class="container">
  <div class="form">
    <div class="row d-flex justify-content-center">
      <div class="col-md-4">
    {{ form_start(form) }}
    {{ form_widget(form) }}
    Photo :

    <button type="submit">Mettre à jour</button>
    {{ form_end(form) }}
 </div>
 </div>
 </div>
 </div>

  </div>
{% endblock %}