{% block body %}
{% if message is defined %}
    <p style="color: red;">{{message}}</p>
{% endif %}
    <form action="{{path('user_login')}}" method="post">
    Password : <input type="password" name="password">
    Email: <input type="email" name="name">
    <button type="submit">Se connecter</button>
    </form>
{% endblock %}