{% extends "base.html.twig" %}
{% block header %}
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <img src="http://localhost:8888/symfony/boncoin/assets/img/affaire.png" style="width: 110px;">
   
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href=" {{ path('advert_list')}}">Retour vers page d'accueil</a>
        </li>

      </ul>
    </div>
  </nav>

{% endblock %}
{% block title %}Créer votre compte{% endblock %}

{% block body %}
  <div class="container">
    <div class="form">
      <div class="row d-flex justify-content-center">
        <div class="col-md-4">
          <form action="" method="post">
            <p>Votre numéro de téléphone :
            </p><input type="text" name="phone">
            <p>Votre Email :
            </p><input type="email" name="email">
            <p>Votre mot de passe :
            </p><input type="password" name="password"><br>
            <button class="btn btn-lg" type="submit">
            Inscription
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}